* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cookies {
  background: rgba(25, 66, 119, 0.8);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.cookies-app {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.cookies-text {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Lato", regular;
  font-weight: 400;
  color: #ffffff;
}

.cookies-button {
  font-size: 12px;
  text-transform: capitalize;
  color: #194277;
  width: 115px;
  height: 30px;
  font-family: "Lato", bold;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) and (max-width: 1539px) {
  .cookies-app {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .cookies-app {
    width: 46%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .cookies-app {
    width: 60%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 639px) {
  .cookies-app {
    width: 70%;
  }
}

.portfolio {
  background: url(../assets/images/backgroung.png) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.portfolio-header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
}

.portfolio-header__wrapper {
  height: 280px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-header__circle {
  width: 180px;
  height: 180px;
  background: rgba(71, 148, 254, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-header-nav {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}

.portfolio-header__burger {
  height: 45px;
  width: 45px;
  border: none;
  background: #3679fd;
  cursor: pointer;
}

.portfolio-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-content__heading {
  width: 45%;
  font-size: 50px;
  font-family: "Lato", Black;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
}

.portfolio-content__text {
  width: 45%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2;
  font-family: "Lato", light;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .portfolio-content__text {
    font-size: 12px;
  }
}

.portfolio-conteiner-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 75px 0;
}

.portfolio-button {
  text-transform: uppercase;
  font-size: 16px;
  color: #3695ff;
  width: 200px;
  height: 60px;
  font-family: "Lato", bold;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.portfolio-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  opacity: .5;
}

.circle-in {
  width: 160px;
  height: 160px;
  background: rgba(75, 150, 254, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-in-light {
  width: 150px;
  height: 150px;
  background: rgba(71, 148, 254, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-in-light-wite {
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1539px) {
  .portfolio-content__heading {
    font-size: 40px;
  }
  .portfolio-header__burger {
    background: #367efe;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .portfolio-content__heading {
    font-size: 35px;
  }
  .portfolio-header__burger {
    background: #367efe;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .portfolio-content__heading {
    width: 70%;
    font-size: 30px;
  }
  .portfolio-content__text {
    width: 70%;
  }
  .portfolio-header-nav {
    width: 70%;
  }
  .portfolio-header__burger {
    background: #3681fe;
  }
}

@media only screen and (min-width: 320px) and (max-width: 639px) {
  .portfolio-content__heading {
    width: 70%;
    font-size: 25px;
  }
  .portfolio-content__text {
    width: 70%;
  }
  .portfolio-header-nav {
    width: 70%;
  }
  .portfolio-header__burger {
    background: #3681fe;
  }
}

.aboutMe {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe-wrapper {
  margin: 11vh 0;
  width: 55%;
  height: 80%;
  text-align: center;
}

.aboutMe-heading {
  font-size: 50px;
  font-family: "Lato", light;
  font-weight: 300;
  text-transform: capitalize;
  color: #3695ff;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1023px) {
  .aboutMe-heading {
    font-size: 35px;
  }
}

.aboutMe-text {
  font-size: 16px;
  line-height: 2;
  font-family: "Lato", regular;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .aboutMe-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .aboutMe-wrapper {
    width: 70%;
  }
}

.expertIn {
  width: 100%;
  height: 100%;
  background: #f1f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertIn-heading {
  font-size: 50px;
  font-family: "Lato", light;
  font-weight: 300;
  text-transform: capitalize;
  color: #3695ff;
  display: block;
  text-align: center;
  padding: 90px 0;
}

@media screen and (max-width: 1023px) {
  .expertIn-heading {
    font-size: 35px;
  }
}

.expertIn-products {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

.expertIn-products-service {
  height: 100%;
  width: 30%;
  text-align: center;
  margin: 30px auto;
}

.expertIn-moblieApp-wrapper {
  width: 140px;
  height: 140px;
  border: 1px solid #c2cad3;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.expertIn-moblieApp-icon {
  background: url(../assets/images/css_sprites.png);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.expertIn-moblieApp-icon.icon-moblie {
  width: 45px;
  height: 66px;
  background-position: -200px -96px;
}

.expertIn-moblieApp-icon.icon-web {
  width: 72px;
  height: 58px;
  background-position: -108px -10px;
}

.expertIn-moblieApp-icon.icon-development {
  width: 58px;
  height: 66px;
  background-position: -200px -10px;
}

.expertIn-moblieApp-icon.icon-product {
  width: 71px;
  height: 67px;
  background-position: -10px -95px;
}

.expertIn-moblieApp-icon.icon-uxUi {
  width: 63px;
  height: 63px;
  background-position: -108px -88px;
}

.expertIn-moblieApp-icon.icon-animations {
  width: 78px;
  height: 65px;
  background-position: -10px -10px;
}

.expertIn-moblieApp-heading {
  font-size: 24px;
  font-family: "Lato", bold;
  font-weight: 700;
  color: #3677fd;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.expertIn-moblieApp-content-text {
  font-size: 16px;
  line-height: 2;
  font-family: "Lato", regular;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .expertIn-moblieApp-content-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .expertIn-products {
    width: 70%;
  }
  .expertIn-products-service {
    min-width: 200px;
  }
}

.latestWorks {
  width: 100%;
  height: 100%;
  text-align: center;
}

.latestWorks-heading {
  font-size: 50px;
  font-family: "Lato", light;
  font-weight: 300;
  text-transform: capitalize;
  color: #3695ff;
  margin: 90px auto;
}

@media screen and (max-width: 1023px) {
  .latestWorks-heading {
    font-size: 35px;
  }
}

.latestWorks-content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 5%;
}

.latestWorks-content-work {
  padding-bottom: 5%;
}

.clients {
  height: 100%;
  width: 100%;
  background: #f1f8ff;
  text-align: center;
}

.clients-heading {
  padding-top: 90px;
  font-size: 50px;
  font-family: "Lato", light;
  font-weight: 300;
  text-transform: capitalize;
  color: #3695ff;
}

@media screen and (max-width: 1023px) {
  .clients-heading {
    font-size: 35px;
  }
}

.clients-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.clients-content-element {
  margin: 70px auto;
}

@media screen and (max-width: 1529px) {
  .clients-content {
    flex-direction: column;
  }
}

.foo {
  width: 100%;
  height: 15vh;
  background: url(../assets/images/backgroundFuter.png) no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.foo-wrapper {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.foo-container-text {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
}

.foo-text {
  font-size: 45px;
  font-family: "Lato", light;
  font-weight: 300;
  color: #ffffff;
}

.foo-text-bold {
  font-family: "Lato", bold;
  font-weight: 700;
}

.foo-button {
  text-transform: uppercase;
  font-size: 16px;
  color: #3695ff;
  width: 200px;
  height: 60px;
  font-family: "Lato", bold;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1529px) {
  .foo-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .foo-text {
    font-size: 35px;
  }
  .foo-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 639px) {
  .foo-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 479px) {
  .foo-button {
    width: 115px;
    height: 30px;
    font-family: "Lato", bold;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  .foo-text {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */

