.clients {
    height: 100%;
    width: 100%;
    background: $bg-clients;    
    text-align: center;

    &-heading {
        padding-top: 90px;
        @include heading ();
    }

    &-content {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &-element {
            margin: 70px auto;
        }
    }
}

@media screen and (max-width:1529px) {
    .clients-content {
        flex-direction: column;
    }
}