@mixin circle ($bg: $bg-ct, $cm: $rt){
    width: $cm;
    height: $cm;
    background: $bg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button ($wb:$wb-c, $hb:$hb-c){
    width: $wb;
    height: $hb;
    font-family: $f-Lb;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

@mixin heading {
    font-size: 50px;
    font-family: $f-Ll;
    font-weight: 300;
    text-transform: capitalize;
    color: #3695ff;

    @media screen and (max-width: 1023px) {
        font-size: 35px;
    }
}

@mixin text ($ff: $f-Lr, $fw: 400){
    font-size: 16px;
    line-height: 2;
    font-family: $ff;
    font-weight: $fw;

    @media screen and (max-width: 1023px) {
        font-size: 12px;
    }
}